#!/usr/bin/env bash
set -e

DIR=`pwd`

if [ ! -e ".git/hooks/pre-commit" ]; then
rm -rf .git/hooks/pre-commit
mkdir -p .git/hooks
ln -s ../../.direnv/git/hooks/pre-commit .git/hooks/pre-commit
chmod +x .git/hooks/pre-commit
fi

init() {
if [ ! -d $DIR/$1/node_modules ] ; then
  if ! [ -x "$(command -v pnpm)" ]; then
    npm install -g yarn
  fi
  cd $DIR/$1
  yarn
  cd $DIR
fi
}

init .
init web

config=config/config.sh
if [[ -f "$config" ]]; then
. $config
fi

export pg_url="postgresql://$db_username:$db_password@$db_host:$db_port/$db_database$db_options"

PATH="$DIR/.direnv/bin:$PATH"
